// 全局变量定义
$menuText: #bfcbd9;
$menuActiveText: #fff;
$subMenuActiveText: #fff;
$menuActiveBg: #1890FF;

$menuBg: #000;
$menuHover: #212122;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$sideBarWidth: 210px;
$menuHoverColor:#fff;
//navbar
$navBarHeight: 50px;
//tagsView
$tagViewHeight: 32px;
//app-main padding
$appMainPadding: 10px;
// logo
$logoBg: #000;
